.home {
  max-width: 1500px;
  margin: 0 auto !important;
  float: none !important;
}
.home__image {
  width: 100%;
  z-index: -1;
  /* margin-bottom: -50px; */
  mask-image: linear-gradient(
    to bottom,
    rgba(235, 237, 237, 1),
    rgba(235, 237, 237, 0)
  );
  cursor: pointer;
}

.alice-carousel {
  z-index: -1 !important;
  margin-bottom: -250px !important;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
